*.o
*.lo
*.la
*.m4
*.a
config.*
configure
Makefile.in
Makefile
autom4te.cache
.autotools
compile
depcomp
install-sh
ipkg-*
libtool
ltmain.sh
missing
.deps
.dirstamp
stamp-h1
.libs
.built
.cproject
.project
.prepared
ABOUT-NLS
.settings
